runcharts:
  - title: Load Average
    position: [[0, 0], [25, 14]]
    rate-ms: 1000
    legend:
        enabled: true
        details: true
    scale: 2
    items:
      - label: 1min
        sample: cut -d ' ' -f 1 /proc/loadavg
      - label: 5min
        sample: cut -d ' ' -f 2 /proc/loadavg
      - label: 15min
        sample: cut -d ' ' -f 3 /proc/loadavg
  - title: Memory Usage
    position: [[0, 14], [49, 11]]
    rate-ms: 1000
    legend:
        enabled: true
        details: true
    scale: 1
    items:
      - label: Memory
        sample: echo "(`free -b | awk 'NR==2 {print $2}'` - `free -b | awk 'NR==2
            {print $7}'`) / `free -b | awk 'NR==2 {print $2}'` * 100" | bc -l
      - label: Swap
        sample: echo "`free -b | awk 'NR==3 {print $3}'` / `free -b | awk 'NR==3 {print
            $2}'` * 100" | bc -l
gauges:
  - title: Year Progress
    position: [[49, 0], [31, 3]]
    percent-only: true
    cur:
        sample: date +%j
    max:
        sample: echo 365
    min:
        sample: echo 0
  - title: Disk Usage (/)
    position: [[25, 10], [24, 2]]
    rate-ms: 300000
    percent-only: true
    cur:
        sample: df / --output=used | awk 'NR==2'
    max:
        sample: df / --output=size | awk 'NR==2'
    min:
        sample: echo 0
  - title: Disk Usage (/data)
    position: [[25, 12], [24, 2]]
    rate-ms: 300000
    percent-only: true
    cur:
        sample: df /data --output=used | awk 'NR==2'
    max:
        sample: df /data --output=size | awk 'NR==2'
    min:
        sample: echo 0
sparklines:
  - title: CPU Usage
    position: [[25, 0], [24, 10]]
    rate-ms: 500
    scale: 1
    sample: ps -A -o %cpu | awk '{s+=$1} END {print s}'
textboxes:
  - title: Docker containers stats
    position: [[49, 9], [31, 9]]
    rate-ms: 2000
    sample: docker stats --no-stream --format "table {{.Name}}\t{{.CPUPerc}}\t{{.MemPerc}}\t{{.NetIO}}\t{{.PIDs}}"
  - title: Shizuoka
    position: [[52, 3], [15, 6]]
    rate-ms: 600000
    color: 178
    sample: curl wttr.in/shizuoka?0ATQF
    border: false
  - title: Tokyo
    position: [[65, 3], [15, 6]]
    rate-ms: 600000
    color: 178
    sample: curl wttr.in/tokyo?0ATQF
    border: false
asciiboxes:
  - title: ""
    position: [[0, 34], [79, 6]]
    rate-ms: 5000
    color: 43
    sample: uptime -p
    border: false
    font: 2d
